<div class="m-4">
    <div class="d-flex">
        <button type="button" class="btn btn-outline-success" (click)="showAddDialog()">
            Add New Category
        </button>
        <div class="input-group mx-2" style="max-width: 300px; max-height: 10px;">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input type="text" 
                class="form-control" 
                placeholder="Search..."
                [(ngModel)]="searchText"
                (ngModelChange)="performSearch($event)">
        </div>
    </div>
    <div class="d-flex justify-content-start flex-wrap mt-4 overflow-auto" style="max-height: 85vh;">
        <ng-container *ngFor="let item of categories">
            <div class="card col-md-2 m-2" [ngClass]="[item.type === 'income' ? 'green-card' : 'red-card' ]">
                <div class="card-body text-center">
                    <div style="height: 10vh;">
                        <i [class]="item.icon" style="font-size: 6vh;"></i>
                    </div>
                    <p>{{item.name}}</p>
                    <p>{{item.type | uppercase}}</p>
                    <button type="button" class="btn btn-outline-dark border-0" (click)="showUpdateDialog(item)" [disabled]="item.isPredefined">
                        <i class="bi bi-pencil"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<p-dialog [(visible)]="showDialog"
    [style]="{width: '450px'}"
    [modal]="true"
    [closable]="false"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <h4 *ngIf="isNew" class="text-center mb-4">Add New Category</h4>
        <h4 *ngIf="!isNew" class="text-center mb-4">Update Category</h4>
        <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
            <div class="form-group my-2">
                <select type="select"
                    name="type"
                    class="form-control form-select"
                    [(ngModel)]="category.type"
                    required
                    #type="ngModel"
                    >
                    <option value="" disabled selected>Select Type</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>
            <div class="form-group my-2">
                <input type="text"
                    class="form-control"
                    name="name"
                    placeholder="Name"
                    [(ngModel)]="category.name"
                    required
                    #name="ngModel">
            </div>
            <div class="form-group my-4 text-center">
                <button type="submit" class="btn btn-outline-primary mx-1">Submit</button>
                <button type="button" class="btn btn-outline-secondary mx-1" (click)="close()">Cancel</button>
            </div>
        </form>
    </ng-template>
</p-dialog>

