<div class="container-fluid">
    <div class="row">
      <div class="col-2 pt-5 sidebar" *ngIf="isLoggedIn" style="padding: 0;">
        <div class="list-group">
          <div style="height: 90vh;">
            <ng-container  *ngFor="let path of paths">
              <a class="list-group-item list-group-item-action" [routerLink]="path.name" [routerLinkActive]="['active']">
                <i class={{path.icon}}></i> {{ path.name }} 
              </a>
          </ng-container>
          </div>
          <a class="list-group-item list-group-item-action" (click)="logout()"> 
            <i class="bi bi-box-arrow-right"></i> sign-out 
          </a>
        </div>
      </div>
      <div class="col" style="padding: 0;">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>