@import '../styles/variables';

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;

    .side-bar {
        width: 20vw;
        height: 100vh;
        background-color: $light_gray;
        padding: 15px;

        .profile-container, .paths-container {
            background-color: rgba(211, 232, 250, 0.5);
        }

        .profile-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 25vh;
        }
        
        .paths-container {
            height: calc(75vh - 30px); // minus padding

            .bottom-paths {
                position: fixed;
                bottom: 15px;
                width: calc(20vw - 30px);
            }
        }
    }
    
    .content {
        width: 80vw;
        height: 100vh;
        background-color: $alabaster;
    }
}



a {
    background: transparent;
}

.list-group-item.active {
    background-color: $pastel_blue;
    border: none;
}