<div class="main-container">
    <div class="side-bar" *ngIf="isLoggedIn">
        <div class="profile-container">
            <img src="../assets/images/avatar.png" alt="" style="height: 15vh;">
            <h6> {{ user?.firstName }} {{ user?.lastName }}</h6>
        </div>
        <div class="list-group paths-container">
            <div class="top-paths">
                <a  *ngFor="let item of paths" 
                    class="list-group-item list-group-item-action" 
                    [routerLink]="item.path" 
                    [routerLinkActive]="['active']">
                    <i class={{item.icon}}></i>
                    <label for="">{{ item.name }}</label>
                </a>
            </div>
            <div class="bottom-paths">
                <a class="list-group-item list-group-item-action" (click)="logout()"> 
                    <i class="bi bi-box-arrow-right"></i> 
                    <label for="">Sign-out</label>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>