@import '../../styles/variables';

.dashboard {
    height: 100vh;
    padding: 10px;

    .balance-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 19vh - 60vh - 10px - 10px - 20px);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border: none;

        h1 {
            color: $purplish-blue;
            margin-bottom: 0;

            strong {
                letter-spacing: 2px;
            }
        }
    }
    
    .charts-container {
        margin-top: 10px;
    
        .savings-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 19vh;
            border: none;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

            h4 {
                height: 40px;
                padding-bottom: 20px;
                color: $marine-blue;
            }

            .bar-income, .bar-expense {
                display: flex;
                justify-content: flex-end;

                .progress {
                    width: 500px;
                    margin-left: 20px;
                }
            }

            .bar-income {
                .progress-bar {
                    background-color: rgb(93, 176, 93, 0.8);
                }
            }

            .bar-expense {
                .progress-bar {
                    background-color: rgba(237, 62, 62, 0.8);
                }
            }
        }

        .sub-info {
            margin-top: 10px;
            display: flex;
            height: 60vh;
    
            .trend-container {
                display: flex;
                justify-content: center;
                margin-right: 10px;
                width: 65vw;
                border: none;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
                padding: 10px 40px;
            }
    
            .card.spending-container {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px;
                height: 60vh;
                width: 13vw;
                border: none;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    
                .spending-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 160px;
                    height: 10vh;
                    margin-top: 15px;
                    border: none;
                    box-shadow: 0px 0px 4px rgba(246, 3, 3, 0.8);
    
                    i {
                        font-size: 40px;
                        margin: 0 10px;
                    }
    
                    .info {
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

