<div class="dashboard">
    <div class="card balance-container">
        <h1> Current Balance: 
            <strong>&#8369; {{ balance | number: '.2' }} </strong>
        </h1>
    </div>
    <div class="charts-container">
        <div class="card savings-container">
            <h4 class="my-2">
                {{ currentMonth?.name }} Savings: &#8369; {{ currentMonth?.savings | number: '.2' }} 
                <i class="bi bi-info-circle" style="font-size: 14px;"></i>
            </h4>
            <div class="bars-container">
                <div class="bar-income">
                    <label for="">Income vs Expected</label>
                    <div class="progress my-1">
                        <div class="progress-bar" role="progressbar" 
                            [ngStyle]="{'width': currentMonth?.incomeVsExpected}" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            &#8369; {{ currentMonth?.income | number: '.2' }}
                        </div>
                    </div>
                </div>
                <div class="bar-expense">
                    <label for="">Expense vs Expected</label>
                    <div class="progress my-1">
                        <div class="progress-bar" role="progressbar" 
                            [ngStyle]="{'width': currentMonth?.expenseVsExpected}"  
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            &#8369; {{ currentMonth?.expense | number: '.2' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-info">
            <div class="card trend-container">
                <app-balance-trend></app-balance-trend>
            </div>
            <div class="card spending-container">
                <h5>Top Spending of the Month</h5>
                <div class="card spending-card" *ngFor="let item of topSpending">
                    <i [class]="item.icon"></i>
                    <div class="info">
                        <p> {{ item.name }} </p>
                        <p> &#8369;{{ item.sum | number: '.2' }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
