<div id="container" class="container-fluid d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>Manage your money the fresh way.</h1>
        <p>Reach your goals with personalized insights, custom budget and spend tracking.</p>
        <div class="buttons">
            <a id="login-btn" class="btn btn-outline-primary mx-2" role="button" routerLink="/login">Sign-in</a>
            <a id="register-btn" class="btn btn-primary mx-2" role="button" routerLink="/register">Sign-up</a>
        </div>
        <div class="">
            <img src="../assets/images/budget-tracker.jpg" alt="">
        </div>
    </div>
</div>
