<div id="register-container" class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6 column1-register">
            </div>
            <div class="col-md-6 p-5 column2" style="background-color: rgb(252, 253, 229);">
                <h3 class="text-center mx-2 mb-4">Let's create your secure account.</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="form-group my-2">
                        <input class="form-control custom-input font-sm" 
                            formControlName="firstName" 
                            type="text" 
                            placeholder="First Name"
                        >
                    </div>
                    <div class="form-group my-2">
                        <input class="form-control custom-input font-sm" 
                            formControlName="lastName" 
                            type="text" 
                            placeholder="Last Name"
                        >
                    </div>
                    <div class="form-group my-2">
                        <input class="form-control custom-input font-sm" 
                            formControlName="email" 
                            type="email" 
                            placeholder="Email"
                        >
                    </div>
                    <div class="form-group my-2">
                        <input class="form-control custom-input font-sm" 
                            formControlName="password" 
                            type="password" 
                            placeholder="Password"
                        >
                    </div>
                    <div class="form-group my-2">
                        <input class="form-control custom-input font-sm" 
                            formControlName="confirmPassword" 
                            type="password" 
                            placeholder="Confirm Password"
                        >
                    </div>
                    <div class="alert-danger"  *ngIf="f.submitted && !passwordMatched">
                        <small class="p-invalid">
                            *Password does not match!
                        </small>
                    </div>
                    <div class="form-group my-4">
                        <button id="signup" 
                            class="btn btn-primary btn-block" 
                            type="submit" 
                            [disabled]="form.invalid">
                            Sign-up
                        </button>
                    </div>
                    <!-- <div class="alert alert-warning" *ngIf="f.submitted && !isSignUpSuccessful">
                        Signup failed!<br />{{ errorMessage }}
                    </div> -->
                </form>
                <div class="text-center">
                    <p class="font-sm">Already have an account? <a routerLink="/login">Sign-in</a></p>
                </div>
            </div>
          </div>
    </div>
</div>
